<div class="header" [class.sidebar-open]="isSidebarOpen">
  <div class="logo">
    <a routerLink="/home">Event Management</a>
  </div>
  <div class="profile-wrapper" (clickOutside)="closeDropdown()">
    <div class="profile-bubble" (click)="toggleDropdown()">
      <img src="https://res.cloudinary.com/dwwpovlcs/image/upload/v1743952417/profule_pic_q78cxs.png" alt="Profile" />
    </div>
    <div class="dropdown" *ngIf="dropdownOpen" [@fadeInOut]>
      <p class="username">{{ user?.userName }}</p>
      <p class="email">{{ user?.email }}</p>
    </div>
  </div>
</div>
