<app-sidebar (sidebarToggled)="onSidebarToggled($event)"></app-sidebar>
<app-home-header
  [isSidebarOpen]="isSidebarOpen"
  [user]="userDetails">
</app-home-header>

<div *ngIf="showMessage" class="slide-message">
  {{ message }}
</div>

<div class="home-container" [class.sidebar-open]="isSidebarOpen">
  <div *ngIf="userDetails" class="user-info-card">
    <h3>Welcome, {{ userDetails.userName }}</h3>
  </div>
  <div class="top-events">
    <h2>Top Events</h2>
    <div class="carousel-container">
      <button class="prev" (click)="prevEvent()">&#10094;</button>
      <div class="carousel-track-container">
        <div class="carousel-track">
          <ng-container *ngIf="topEvents.length > 0; else noEvents">
            <div class="event-tile" *ngFor="let event of topEvents; let i = index" [class.active]="i === currentEventIndex">
              <h2>{{ event.name }}</h2>
              <div class="event-details">
                <div class="event-detail">
                  <i class="fas fa-map-marker-alt location-icon"></i> <strong>Location:</strong> {{ event.location }}
                </div>
                <div class="event-detail">
                  <i class="fas fa-tags category-icon"></i> <strong>Category:</strong> {{ event.category }}
                </div>
                <div class="event-detail">
                  <i class="fas fa-calendar-alt date-icon"></i> <strong>Date:</strong> {{ event.date | date }}
                </div>
                <div class="event-detail">
                  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
                  <i class="fas fa-rupee-sign price-icon"></i> <strong>Price:</strong> {{ event.eventPrice | currency:'INR':'symbol-narrow' }}
                </div>
                <div class="event-detail">
                  <i class="fas fa-clock time-icon"></i> <strong>Time:</strong> {{ event.time }}
                </div>
                <div class="event-detail">
                  <i class="fas fa-check-circle booked-tickets-icon"></i> <strong>Available Tickets: </strong> {{ event.availableTickets }}
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #noEvents>
            <div class="event-tile no-events">
              <h2>No events available at the moment. Please check back later.</h2>
            </div>
          </ng-template>
        </div>
      </div>
      <button class="next" (click)="nextEvent()">&#10095;</button>
    </div>
    <div class="carousel-dots" *ngIf="topEvents.length > 0">
      <span *ngFor="let event of topEvents; let i = index" class="dot" [class.active]="i === currentEventIndex" (click)="goToEvent(i)"></span>
    </div>
    <!-- Explore More button -->
    <button class="explore-more" (click)="navigateToBookEvents()">Explore More</button>
  </div>
</div>
