.main-content {
    padding: 20px;
    transition: margin-left 0.3s ease;
    margin-top: 60px; /* height of fixed header */
    margin-left: 60px; /* Adjust to match the closed sidebar width */
  }
  
  .main-content.sidebar-open {
    margin-left: 270px;
  }
  
  .content-wrapper {
    margin-top: 60px; /* Ensure content starts below the header */
  }
  
  .profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-details {
    font-size: 1.2em;
  }
  
  .profile-details p {
    margin: 10px 0;
  }
  