.home-container {
    padding: 20px;
    transition: margin-left 0.3s ease;
  }
  
  .home-container.sidebar-open {
    margin-left: 270px; /* Adjust based on sidebar width */
  }
  
  .slide-message {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: slideDown 1s ease-out, slideUp 1s ease-in 4s;
  }
  
  @keyframes slideDown {
    from {
      top: -50px;
    }
    to {
      top: 20px;
    }
  }
  
  @keyframes slideUp {
    from {
      top: 20px;
    }
    to {
      top: -50px;
    }
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .home-container.sidebar-open {
      margin-left: 200px; /* Adjust based on sidebar width */
    }
  }
  
  @media (max-width: 480px) {
    .home-container.sidebar-open {
      margin-left: 150px; /* Adjust based on sidebar width */
    }
  }
  